.rankings{
    display: flex;
    justify-content: center;
    table-layout: fixed;
    width: 100%;
}
h1 {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}

th, td {
    background-color: #96d496;
  }

h1 {
    color: red;
}