{% load static %}

<!DOCTYPE html>
<head>  
    <link rel="stylesheet" href="{% static 'gd/mainpage.css' %}"> 
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <a href="#"><img class="logo-img" src="{% static 'gd/images/logo.png' %}" alt="Logo"></a>
        </div>
        <nav class="nav-buttons">
            <ul>
                <li class="nav-button">
                    <a href="/rankings">Rankings</a>
                </li>
                <li class="nav-button">
                    <a href="#">Levels</a>
                </li>
                <li class="nav-button">
                    <a href="/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Welcome to official website of the game Geometry Dash!<h1>
</body>